*~
*.o
*.swp
*.sh

# executables
Exercise2-01
Exercise2-02
Exercise2-03
Exercise2-04
Exercise2-05
Exercise2-06
Exercise2-07
Exercise2-08
Exercise2-09
Exercise2-10
Exercise2-11
Exercise2-12
Exercise2-13
Exercise2-14
Exercise2-15

Exercise3-01
Exercise3-02
Exercise3-03
Exercise3-04
Exercise3-05
Exercise3-06
Exercise3-07
Exercise3-08
Exercise3-09
Exercise3-10
Exercise3-11
Exercise3-12
Exercise3-13
Exercise3-14
Exercise3-15

Exercise4-01
Exercise4-02
Exercise4-03
Exercise4-04
Exercise4-05
Exercise4-06
Exercise4-07
Exercise4-08
Exercise4-09
Exercise4-10
Exercise4-11
Exercise4-12
Exercise4-13
Exercise4-14
Exercise4-15

Exercise5-01
Exercise5-02
Exercise5-03
Exercise5-04
Exercise5-05
Exercise5-06
Exercise5-07
Exercise5-08
Exercise5-09
Exercise5-10
Exercise5-11
Exercise5-12
Exercise5-13
Exercise5-14
Exercise5-15

Exercise6-01
Exercise6-02
Exercise6-03
Exercise6-04
Exercise6-05
Exercise6-06
Exercise6-07
Exercise6-08
Exercise6-09
Exercise6-10
Exercise6-11
Exercise6-12
Exercise6-13
Exercise6-14
Exercise6-15

Exercise7-01
Exercise7-02
Exercise7-03
Exercise7-04
Exercise7-05
Exercise7-06
Exercise7-07
Exercise7-08
Exercise7-09
Exercise7-10
Exercise7-11
Exercise7-12
Exercise7-13
Exercise7-14
Exercise7-15

Exercise8-01
Exercise8-02
Exercise8-03
Exercise8-04
Exercise8-05
Exercise8-06
Exercise8-07
Exercise8-08
Exercise8-09
Exercise8-10
Exercise8-11
Exercise8-12
Exercise8-13
Exercise8-14
Exercise8-15
