*~
*.o
*.swp
*.sh

# executables
Exercise2-1
Exercise2-2
Exercise2-3
Exercise2-4
Exercise2-5
Exercise2-6
Exercise2-7
Exercise2-8
Exercise2-9
Exercise2-10
Exercise2-11
Exercise2-12
Exercise2-13
Exercise2-14
Exercise2-15

Exercise3-1
Exercise3-2
Exercise3-3
Exercise3-4
Exercise3-5
Exercise3-6
Exercise3-7
Exercise3-8
Exercise3-9
Exercise3-10
Exercise3-11
Exercise3-12
Exercise3-13
Exercise3-14
Exercise3-15

Exercise4-1
Exercise4-2
Exercise4-3
Exercise4-4
Exercise4-5
Exercise4-6
Exercise4-7
Exercise4-8
Exercise4-9
Exercise4-10
Exercise4-11
Exercise4-12
Exercise4-13
Exercise4-14
Exercise4-15

Exercise5-1
Exercise5-2
Exercise5-3
Exercise5-4
Exercise5-5
Exercise5-6
Exercise5-7
Exercise5-8
Exercise5-9
Exercise5-10
Exercise5-11
Exercise5-12
Exercise5-13
Exercise5-14
Exercise5-15

Exercise6-1
Exercise6-2
Exercise6-3
Exercise6-4
Exercise6-5
Exercise6-6
Exercise6-7
Exercise6-8
Exercise6-9
Exercise6-10
Exercise6-11
Exercise6-12
Exercise6-13
Exercise6-14
Exercise6-15

Exercise7-1
Exercise7-2
Exercise7-3
Exercise7-4
Exercise7-5
Exercise7-6
Exercise7-7
Exercise7-8
Exercise7-9
Exercise7-10
Exercise7-11
Exercise7-12
Exercise7-13
Exercise7-14
Exercise7-15

Exercise8-1
Exercise8-2
Exercise8-3
Exercise8-4
Exercise8-5
Exercise8-6
Exercise8-7
Exercise8-8
Exercise8-9
Exercise8-10
Exercise8-11
Exercise8-12
Exercise8-13
Exercise8-14
Exercise8-15


